$black: #000;
$white: #FFF;

$white-blue: #FAFBFF;
$white-grey: #F2F3F7;
$white-grey-blue: #EBECF2;

$light-grey: #D9D9D9;
$mid-grey: #4A4A4A;
$grey: #3D3E40;
$grey-blue: #A3B0BF;
$blue-grey: #667799;
$blue: #4A90E2;
$muted-blue: #A3BCD9;
