footer.site{
    margin-top: 30px;
    display: flex;
    padding: 2em 5vw;
    background-color: $white-grey-blue;
    width: 100%;
    justify-content: space-between;
    @include breakpoint(1024px) {
        flex-wrap: wrap;
        justify-content: center;
    }
    @include breakpoint(768px) {
        flex-direction: column;
    }
    a{
        color: $blue-grey;
        font-weight: 600;
        text-decoration: none;
        padding: 1em;
        transition: .25s all ease;
        &:hover{
            text-decoration: underline;
            color: $muted-blue;
        }
        @include breakpoint(768px) {
            border-radius: 4px;
            margin: 0 auto 1em;
        }
    }
}
